/** General form options **/
.customForm {
    width: 100%;
    clear: both;
    overflow: auto;
}
.customForm .component {
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
}
.customForm label {
    float: left;
    display: inline-block;
    width: 40%;
}
.customForm .inputwrapper,
.customForm .checkboxgroup {
    float: left;
    width: 60%;
}
.customForm .required {
    color: red;
    font-size: 140%;
}

/** Borders **/
.customForm input[type=text],
.customForm input[type=password],
.customForm input[type=email],
.customForm input[type=password],
.customForm textarea,
.customForm select,
.customForm .color-box {
    border: 2px solid #ddd;
    border-radius: 3px;
}

.customForm input[type=text]:focus,
.customForm input[type=password]:focus,
.customForm input[type=email]:focus,
.customForm input[type=password]:focus,
.customForm textarea:focus,
.customForm select:focus {
    border-color: #b2b2b2;
}

/** Layout **/
.customForm input[type=text],
.customForm input[type=password],
.customForm input[type=email],
.customForm input[type=password],
.customForm textarea {
    font: 14px "Lato",sans-serif;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

/** Specific options **/
.customForm input[type=text],
.customForm input[type=password],
.customForm input[type=email],
.customForm input[type=password],
.customForm textarea {
    padding-left: 10px;
}

/** Textarea **/
.customForm textarea {
    height: 100px;
}
.customForm textarea.textEditor {
    height: inherit;
}

/** Checkbox **/
.customForm .checkbox {
    clear: both;
}
.customForm .checkbox label {
    padding-left: 20px;
    float: left;
    width: inherit;
}
.customForm input[type=checkbox] {
    float: left;
}

.customForm button{
    position: relative;
    display: inline-block;
    overflow: hidden;
    float: left;
    margin: 0 1em 1em 0;
    padding: 0 3em;
    height: 3.5em;
    font: 300 1em/3.5em 'Open Sans', sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    letter-spacing: .08em;
    color: #fff;
    background: #0090C0;
    border: solid 1px #fff;
    border-radius: 2px;
    -moz-transition: 0.35s ease all;
    -o-transition: 0.35s ease all;
    -webkit-transition: 0.35s ease all;
    transition: 0.35s ease all;
}

.customForm button:hover{
    background: #007DA7;
    box-shadow: 1px 1px 10px #007DA7;
    text-shadow: 0 3px 3px #07295E;
    cursor: pointer;
}

/** Dropdown **/
.customForm select {
    padding: 5px;
}

/** MultiDropdown **/
.customForm .multidropdown select {
    float: left;
    margin-right: 20px;
}
.customForm .multidropdown {
    clear: both;
    overflow: auto;
    padding-bottom: 10px;
}
.customForm .multidropdown .remove.undeleteable {
    display: none;
}
.customForm .remove a,
.customForm .add a {
    color: #757575;
    text-decoration: none;
}
.customForm .add a:hover,
.customForm .remove a:hover {
    color: #545454;
}
.customForm .remove {
    float: left;
    padding-left: 10px;
    padding-top: 8px;
}
.customForm .add {
    clear: both;
}
.customForm .add i {
    padding-right: 5px;
}
.customForm .multidropdown .hidden {
    display: none;
}

/** Radio button **/
.customForm input[type=radio] {
    float: left;
}

/** Color picker **/
.customForm .color-box {
    float:left;
    width:30px;
    height:30px;
    margin:5px;
}

/** Buttongroup **/
.customForm .buttongroup .component {
    clear: none;
    float: left;
}
.customForm .buttongroup {
    float: right;
}