/** Page layout **/
.backend {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    overflow: auto;
    color: dimgray;
}
.backend a {
    color: gray;
    text-decoration: none;
}
.backend a:hover {
    color: black;
}
.backend .menu {
    float: left;
    width: 15%;
    margin-right: calc(5% - 1px);
    border-right: 1px solid black;
    padding-top: 3%;
    padding-bottom: 3%;

}
.backend .container {
    width: 80%;
    float: left;
    padding-top: 3%;
}

/** Menu **/
.backend .menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.backend .menu li {
    padding-bottom: 10px;
    font-size: 16px;
}
.backend .menu a {
    text-decoration: none;
    color: gray;
}
.backend .menu .active a {
    font-weight: bold;
}
.backend .menu a:hover {
    color: black;
}

/** Backend overview **/
.backend.overview .moduleBlock {
    float: left;
    width: 300px;
    height: 150px;
    margin: 20px;
    background-color: #fbfbfb;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
}
.backend.overview .moduleBlock h2 {
    padding-top: 10px;
}
.backend.overview .moduleBlock table {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
.backend.overview .moduleBlock th,
.backend.overview .moduleBlock td  {
    padding-bottom: 10px;
}

/** Editors **/
.multi h2, .single #edit h2 {
    padding-bottom: 20px;
}

/** Multi editor **/
.multi table {
    width: 100%;
}
.multi td, th {
    padding-right: 10px;
}
.multi td, th {
    padding-bottom: 10px;
}
.multi th {
    text-align: left;
}
.multi th.edit, .multi th.delete {
    width: 12px;
}
.multi .newentry.fa {
    padding-right: 10px;
}