# Redirect all errorpages to 404.php
# Make sure to configure the url correctly
RewriteEngine on
ErrorDocument 400 /404.php
ErrorDocument 401 /404.php
ErrorDocument 403 /404.php
ErrorDocument 404 /404.php
ErrorDocument 500 /404.php

# Parse all .php.css files as if they were php files
# This will enable using php variables in css files
<Files ~ "\.php.css">
AddType application/x-httpd-php .css
</Files>

# Redirect all files which are not found to index.php
Options +FollowSymLinks
RewriteRule . index.php